.bg-azul {
    background-color: #1E324D;
}

.notify {
    float: left;
    width: 250px;
    position: absolute;
    color: black;
    z-index: 1;
    height: 300px;
    overflow-y: auto;
}

.notify-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btn-perfil {
    color: white;
    text-decoration: none;
}

.enlace:hover {
    background-color: rgb(37, 47, 105);
}

.logo {
    width: 37px;
}