<nav class="navbar navbar-expand-lg bg-azul navbar-dark">
    <div class="container">
        <a class="navbar-brand fs-4" href="#inicio"><img src="../../../assets/img_landing/icon-web.png" alt="logo"
                width="30px"> Mi Doc Virtual</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#about">¿Qué es Mi DocVirtual?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#beneficios">Beneficios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#contacto">Contacto</a>
                </li>
                <li class="nav-item">
                    <button mat-raised-button color="warn" routerLink="/login">Iniciar sesión</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
