<app-navbar></app-navbar>
<br>
<div class="container">
    <h1><i class="fa-solid fa-money-bill-trend-up"></i> Mis finanzas</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="border border-dark content px-5 py-3">
                <h1>VENTAS DE HOY</h1>
                <div class="h-75 d-flex justify-content-center align-items-center">
                    <div class="fs-1">
                        <span class="fw-bolder">37 </span>
                        <span>Ventas totales</span>
                    </div>
                </div>
                <div class="text-end"><span>total: </span> <span class="fs-2 text-dark">S/.546.00</span></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border border-dark mb-3">
                <app-finanzas-resumen-semanal></app-finanzas-resumen-semanal>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border border-dark">
                <app-finanzas-ganancias></app-finanzas-ganancias>
            </div>
        </div>
        <div class="col-md-6 px-2">
            <div class="border border-dark">
                <app-finanzas-productos></app-finanzas-productos>
            </div>
        </div>
    </div>
    <br>
</div>